 *{
    margin: 0;
    padding: 0;
} 
#container{
    margin:0 auto; 
	width: 1200px; /*这块不设置宽度没办法居中！*/
}
#header{
    text-align: center;
    margin:0 auto; 
    height:50px;
	background:rgba(82, 244, 7, 0.157); 
	/* margin-bottom:5px; */
}
ul.nav{/*设置导航栏的框框*/
    margin: 0px auto;/*框框整体的位置，30px是指离网页的顶部和下部的距离，auto控制的是左右距离为自动调节 */
   width: 1200px;/*框框的宽度*/
   height: 50px;/*框框的长度*/
   padding: 0px;/*将框框的padding设置为零，不然会导致框框里的内容与框边缘有间隔*/
   border:1px solid #000;/*添加边框*/
}
li.nav{
   list-style-type: none;/* 去掉li前的点 */
   float: left;/*将li设置成做浮动，变为联动*/
}
p.nav{
    width: 300px;
    font-family: Microsoft Yahei;
    line-height: 50px;/*设置字体在块中的高度*/
    background-color: #2f4f4f;
    margin: 0px 0px;/*块里的高宽通过margin设置*/
    color: #fff;
    text-align: center;
}
a.nav{
   display: block;/*将a变成块状*/
   width: 300px;/*设置块的宽度*/
   height: 50px;/*设置块的长度*/
   font-family: Microsoft Yahei;
   line-height: 50px;/*设置字体在块中的高度*/
   background-color: #2f4f4f;
   margin: 0px 0px;/*块里的高宽通过margin设置*/
   color: #fff;
   text-align: center;/*字体居中*/
   text-decoration: none;/*去掉下划线*/
   font-size: 15px;
}
a:hover.nav{
   background-color: #2f6f4f;
}
.aside{
    float:left; 
	width:590px; 
	height:450px; 
    margin-right: 10px;
    background-color: rgba(11, 233, 96, 0.118);
	/* background:#6cf;   */
    /*font-size: smaller;*/
}
.content{
    width: 1200px;
    margin:0 auto;
    clear: both;
}
#content1{
    border-radius: 20px;
    background:rgba(0, 153, 204, 0.279);
    margin-bottom: 2px;
}
#content2{
    height: 450px; 
}
#content3
{
    height: 100px;
    background-color: #cff;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}
#aside3{
    background-color: aqua;
}
#aside4{
    background-color: aqua;
}
#content4{
    height: 450px; 
}
.footer{
    display: block;
    text-align: center;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}